h1{
    border: 7px black;
    background: 7px aqua;
    font-size: 200px;
    text-align: center;
    
}

body{
    background-image: url("Pictures/Tpaws.jpg");

}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 7px solid aqua;
    background-color: white;
    width: 35ch
    
}

footer{
    text-align: right;
    font-size: 25%;
}